<div class="jumbotron">
    <h1>Simple Server with Basic Authentication</h1>
    <p>Debugging done through Telerik's Fiddler.</p>
    <p>Providing encoded authentication token will return list of current NBA Players when calling path "/api/players"(sample data I decided to use for this particular project).</p>
    <small>* Set header using formatted login credentials (e.g. username:password)</small>
    <br />
    <small>* Example: Authorization: Basic {base64 value}</small>
    <br />
    <small>* 200: Authorization: Basic amtwZXJyeTE6dGVzdDEyMw==</small>
    <br />
    <small>* 401: Authorization: Basic xmtwZXJyeTE6dGVzdDEyMw==</small>
    <br />
    <br />
    <p><a href="https://www.telerik.com/download/fiddler" target="_blank" class="btn btn-primary btn-lg">Fiddler Download &raquo;</a></p>
    <p><a href="https://www.base64encode.org/" target="_blank" class="btn btn-primary btn-lg">Base64 Encoder &raquo;</a></p>
</div>
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
